.boardsBox {
  background-color: black;
  width: 100%;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 30px;
}

.boardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0px;
  flex-direction: column;
}

.bCard {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 250px;

  border-style: solid;
  border-color: white;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0.2px;

  padding: 10px;
  margin: 10px;
  color: white;

  .bCardBtns {
    position: absolute;
    right: 20px;
    bottom: 20px;
    .bCardBtn {
      border: none;
      background-color: transparent;
      color: white;
    }
  }
}

.bForm {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 250px;

  border-style: solid;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0.2px;
  border-color: white;

  padding: 10px;
  margin: 10px;
  color: white;

  .boardInput {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0.2px;

    background-color: transparent;
    color: gray;
  }

  .bFormBtns {
    position: absolute;
    right: 20px;
    bottom: 20px;
    .bFormBtn {
      border: none;
      background-color: transparent;
      color: gray;
    }
  }
}
