.ucContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.ucBox {
  width: 300px !important;
  height: 300px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: white;
  border-width: 0.2px;
  background-color: black;
  padding: 3px;

  p {
    color: white;
  }
  transition: transform 0.4s linear;
}
